[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.neochapay.yandexmusic
Exec=/usr/bin/ru.neochapay.yandexmusic
Name=Yandex Music
Name[ru]=Яндекс Музыка

[X-Sailjail]
Permissions=Audio;Internet
OrganizationName=ru.neochapay
ApplicationName=yandexmusic
